fieldset {
	border: 1px solid black;
	border-style: inset;
	padding: 10px 5px 10px 5px;
	margin: 10px 0;
	width: 70%;
}
 
fieldset label {
	width: 14em;
	font-size: 80%;
	font-family: verdana,sans-serif;
	font-weight: bold;
	float: left;
	text-align: left;
	margin-right: 0.5em;
	display: block
	margin-top: 3px;
}
 
fieldset legend {
	color: #000;
	background: #eee;
	padding: 0 6px;
	font-size: 120%;
	font-family: verdana,sans-serif;
	font-weight: bold;
}


/* NAVIGATION */
#navmenu .yuimenubaritemlabel { text-align: center; }


/* INFOBOX */
div.info-box-row th, td { border: none !important; padding: 0em !important; }
div.info-box-row table { margin-bottom: 0em !important; }
div.info-box-row-detail table { margin-bottom: 0em !important; }


/* PAPYRUS */

/* PAGE EDITOR */
div#papyrus-editor-page-view-edit-container h3 { margin: 0em !important; }
div#papyrus-editor-page-view-sidebar-container h3 { margin: 0em !important; }

/* SECTION EDITOR */
div#papyrus-editor-section-view-edit-container h3 { margin: 0em !important; }
div#papyrus-editor-section-view-sidebar-container h3 { margin: 0em !important; }

/* EDITOR FIELD ERROR */
.papyrus_editor_field_error_message { color: #8F2C2C; font-size: 77%; }
.papyrus_editor_field_error { background-color: #EFD1D1; border: 2px solid #8F2C2C; }


/* FOOTER */
#ft { text-align: center; }
