body {
	font: 11px verdana, arial, helvetica, sans-serif;
	color: #666;
}
.highlight {
	background-color: #FFFD7C;
	font-weight: bold;
}
.subtext {
	font-size: 10px;
}

/* SIDEBARS */

#sidebarLeftHeading {
	font-size: 12px;
	font-weight: bold;
	color: #404040;
}

#sidebarRightHeading {
	font-size: 12px;
	font-weight: bold;
	color: #404040;
}

#sidebarRightBottomHeading {
	font-size: 12px;
	font-weight: bold;
	color: #404040;
}

#sidebarRightFinancialHeading {
	font-size: 12px;
	font-weight: bold;
	color: #404040;
}

UL.sidebarLinks LI A {
	font-size: 11px;
	text-decoration: none;
	color: #404040 !important;
}

/* CONTENT HEADER */

#contentHeading {
	font-size: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #404040;
}

#contentHeading .filter {
	font-size: 12px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #404040;
}

#contentHeading .location {
	font-size: 10px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #404040;
}

/* CONTENT */

.headingTitle {
	font-family: Trebuchet MS;
	font-size: 18px;
	color: #38428d;
}

/* LOGIN ELEMENTS */

.loginText {
	font: 10px verdana, arial, helvetica, sans-serif;
	color: #666;
}

/* FOOTER ELEMENTS */

.footerText {
	font: 10px verdana, arial, helvetica, sans-serif;
	color: #666;
}

/* INPUT ELEMENTS */

input.search {
	font-size: 12px;
	color: #6c6c6c;
	text-align: left;
	padding-left: 2px;
}

.formInputBlur {
	font-size: 12px;
	color: #6c6c6c;
	border: 1px solid #7d7d7d;
	background-color: #fff;
}

.formInputFocus {
	font-size: 12px;
	color: #6c6c6c;
	border: 1px solid #7d7d7d;
	background-color: #fffedf;
}