<h3>Editing HTML</h3><br />
<form name="papyrus-editor-page-view-overview" action="#" method="post">
		
		<p><label for="html[title]">Title</label>&nbsp;&nbsp;&nbsp;<span id="html[title]_error" class="papyrus_editor_field_error_message">&nbsp;</span><br />
		<input type="text" id="html[title]" name="html[title]" value="<%= title %>" class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="html[markup]">Body</label>&nbsp;&nbsp;&nbsp;<span id="html[markup]_error" class="papyrus_editor_field_error_message">&nbsp;</span><br />
			<textarea name="html[markup]" id="html[markup]" cols="50" rows="10" class="papyrus-editor-can-alter-state-field"><%= markup %></textarea>
		</p>
		
		<p><label for="html[is_active]">Active</label>&nbsp;&nbsp;&nbsp;<span id="html[is_active]_error" class="papyrus_editor_field_error_message">&nbsp;</span><br />
		<input type="checkbox" id="html[is_active]" name="html[is_active]" value="1" <% if( is_active == true ) { %>checked="true"<% } %> class="papyrus-editor-can-alter-state-field" /></p>

</form> 