<h3>Editing Link Collection</h3>

<h5>Links</h5>
<form name="papyrus-editor-links-view-overview" id="papyrus-editor-section-view-overview" action="#" method="post">
	<div id="papyrus-editor-links-droplist" class="droplist">
	<ul id="papyrus-editor-links-list">	
	<% for( var i = 0; i < links.length; i++ ) { %>
		<li class="papyrus-editor-can-alter-state-field sortable-list-item link-id_<%= links[ i ].id %>"><%= links[ i ].title %> : <a href="#" onclick="YAHOO.widget.papyrus.Editor.switchPerspectives( <%= links[ i ].id %>, 'link' );">Edit</a></li>
	<% } %>
	</ul>
	</div>
</form>

