<?xml version="1.0" encoding="iso-8859-1"?>
<menu>

	<menuheading>
		<headingtitle>Sales &amp; Marketing</headingtitle>
		<headinglink>index.html</headinglink>
		<headingid>1</headingid>
		<headingalign>left</headingalign>
		<menuitem>
			<menuitemtitle>Competitive and Market Intelligence</menuitemtitle>
			<menuitemlink>index.html</menuitemlink>
			<menuitemid>2</menuitemid>
			<menuitemalign>right</menuitemalign>
			<submenuitem>
				<submenuitemtitle>Faxes and Emails</submenuitemtitle>
				<submenuitemlink>index.html</submenuitemlink>
				<submenuitemid>10</submenuitemid>
			</submenuitem>
			<submenuitem>
				<submenuitemtitle>Telecom</submenuitemtitle>
				<submenuitemlink>index.html</submenuitemlink>
				<submenuitemid>11</submenuitemid>
			</submenuitem>
			<submenuitem>
				<submenuitemtitle>Blackberry Support</submenuitemtitle>
				<submenuitemlink>index.html</submenuitemlink>
				<submenuitemid>11</submenuitemid>
			</submenuitem>
		</menuitem>
		<menuitem>
			<menuitemtitle>Grants, Funding, and Correlations</menuitemtitle>
			<menuitemlink>index.html</menuitemlink>
			<menuitemid>3</menuitemid>
			<menuitemalign>right</menuitemalign>
		</menuitem>
	</menuheading>
	
	<menuheading>
		<headingtitle>Field Operations</headingtitle>
		<headinglink>index.html</headinglink>
		<headingid>4</headingid>
		<headingalign>left</headingalign>
		<menuitem>
			<menuitemtitle>Field Operations Specialists</menuitemtitle>
			<menuitemlink>index.html</menuitemlink>
			<menuitemid>5</menuitemid>
			<menuitemalign>right</menuitemalign>
		</menuitem>
		<menuitem>
			<menuitemtitle>About Field Operations</menuitemtitle>
			<menuitemlink>index.html</menuitemlink>
			<menuitemid>6</menuitemid>
			<menuitemalign>right</menuitemalign>
		</menuitem>
	</menuheading>
	
	<menuheading>
		<headingtitle>Instructional Services</headingtitle>
		<headinglink>index.html</headinglink>
		<headingid>4</headingid>
		<headingalign>left</headingalign>
		<menuitem>
			<menuitemtitle>About Instructional Services</menuitemtitle>
			<menuitemlink>index.html</menuitemlink>
			<menuitemid>12</menuitemid>
			<menuitemalign>right</menuitemalign>
		</menuitem>
	</menuheading>
	
	<menuheading>
		<headingtitle>Support &amp; Engineering</headingtitle>
		<headinglink>index.html</headinglink>
		<headingid>7</headingid>
		<headingalign>right</headingalign>
		<menuitem>
			<menuitemtitle>KnowledgeBox</menuitemtitle>
			<menuitemlink>index.html</menuitemlink>
			<menuitemid>8</menuitemid>
			<menuitemalign>left</menuitemalign>
		</menuitem>
		<menuitem>
			<menuitemtitle>NovaNet</menuitemtitle>
			<menuitemlink>index.html</menuitemlink>
			<menuitemid>9</menuitemid>
			<menuitemalign>right</menuitemalign>
			<submenuitem>
				<submenuitemtitle>Faxes and Emails</submenuitemtitle>
				<submenuitemlink>index.html</submenuitemlink>
				<submenuitemid>10</submenuitemid>
			</submenuitem>
			<submenuitem>
				<submenuitemtitle>Telecom</submenuitemtitle>
				<submenuitemlink>index.html</submenuitemlink>
				<submenuitemid>11</submenuitemid>
			</submenuitem>
			<submenuitem>
				<submenuitemtitle>Blackberry Support</submenuitemtitle>
				<submenuitemlink>index.html</submenuitemlink>
				<submenuitemid>11</submenuitemid>
			</submenuitem>
		</menuitem>
		<menuitem>
			<menuitemtitle>SMe</menuitemtitle>
			<menuitemlink>index.html</menuitemlink>
			<menuitemid>10</menuitemid>
			<menuitemalign>left</menuitemalign>
		</menuitem>
		<menuitem>
			<menuitemtitle>Waterford</menuitemtitle>
			<menuitemlink>index.html</menuitemlink>
			<menuitemid>9</menuitemid>
			<menuitemalign>left</menuitemalign>
			<submenuitem>
				<submenuitemtitle>Faxes and Emails</submenuitemtitle>
				<submenuitemlink>index.html</submenuitemlink>
				<submenuitemid>10</submenuitemid>
			</submenuitem>
			<submenuitem>
				<submenuitemtitle>Telecom</submenuitemtitle>
				<submenuitemlink>index.html</submenuitemlink>
				<submenuitemid>11</submenuitemid>
			</submenuitem>
			<submenuitem>
				<submenuitemtitle>Blackberry Support</submenuitemtitle>
				<submenuitemlink>index.html</submenuitemlink>
				<submenuitemid>11</submenuitemid>
			</submenuitem>
		</menuitem>
	</menuheading>
	
	<menuheading>
		<headingtitle>Finance</headingtitle>
		<headinglink>index.html</headinglink>
		<headingid>7</headingid>
		<headingalign>right</headingalign>
	</menuheading>
	
	<menuheading>
		<headingtitle>Human Resources</headingtitle>
		<headinglink>index.html</headinglink>
		<headingid>7</headingid>
		<headingalign>right</headingalign>
	</menuheading>
	
	<menuheading>
		<headingtitle>Internal Support</headingtitle>
		<headinglink>index.html</headinglink>
		<headingid>7</headingid>
		<headingalign>right</headingalign>
	</menuheading>
	
	<menuheading>
		<headingtitle>Competitive Intelligence</headingtitle>
		<headinglink>index.html</headinglink>
		<headingid>7</headingid>
		<headingalign>right</headingalign>
	</menuheading>
	
	<menuheading>
		<headingtitle>Education &amp; Research</headingtitle>
		<headinglink>index.html</headinglink>
		<headingid>7</headingid>
		<headingalign>right</headingalign>
	</menuheading>
</menu>