<h3>Overview</h3><br />
<form name="papyrus-editor-page-view-overview" action="#" method="post">
		
		<p><label for="page[title]">Title</label><br />
		<input type="text" id="page[title]" name="page[title]" value="<%= title %>" class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="page[is_active]">Active</label><br />
		<input type="checkbox" id="page[is_active]" name="page[is_active]" value="1" <% if( is_active == true ) { %>checked="true"<% } %> class="papyrus-editor-can-alter-state-field" /></p>
		
		<h5>Content</h5>
		<div id="papyrus-editor-content-droplist" class="droplist">
		<ul id="papyrus-editor-content-list">	
		<% for( var i = 0; i < content.length; i++ ) { %>
			<li class="papyrus-editor-can-alter-state-field sortable-list-item"><%= content[ i ].title %> : <a href="#" onclick="YAHOO.widget.papyrus.Editor.switchPerspectives( <%= content[ i ].id %>, '<%= content[ i ].content_type %>' );">Edit</a></li>
		<% } %>
		</ul>
		</div>
		
</form>