<h3>Editing Image</h3><br />
<form name="papyrus-editor-image-view-overview" action="#" method="post">
		
		<p><label for="image[title]">Title</label><br />
		<input type="text" id="image[title]" name="image[title]" value="<%= title %>" class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="image[uri]">File</label><br />
			<input type="text" name="image[uri]" id="image[uri]" value="<%= uri %>" class="papyrus-editor-can-alter-state-field" disabled /><br /><sub>(Selecting a new file will replace the current file.)</sub><br /><input type="file" name="image[new_uri]" id="image[new_uri]" class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="image[is_active]">Active</label><br />
		<input type="checkbox" id="image[is_active]" name="image[is_active]" value="1" <% if( is_active == true ) { %>checked="true"<% } %> class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="image[is_internal]">Internal Link</label><br />
		<input type="checkbox" id="image[is_internal]" name="image[is_internal]" value="1" <% if( is_internal == true ) { %>checked="true"<% } %> class="papyrus-editor-can-alter-state-field" /></p>

</form> 