<h3>Editing Sections</h3>

<h5>Section List</h5>
<form name="papyrus-editor-section-view-overview" id="papyrus-editor-section-view-overview" action="#" method="post">
	<div id="papyrus-editor-section-droplist" class="droplist">
	<ul id="papyrus-editor-section-list">	
	<% for( var i = 0; i < sections.length; i++ ) { %>
		<li class="papyrus-editor-can-alter-state-field sortable-list-item section-id_<%= sections[ i ].id %>"><%= sections[ i ].title %> : <a href="#" onclick="YAHOO.widget.papyrus.Editor.switchPerspectives( <%= sections[ i ].id %>, 'section' );">Edit</a></li>
	<% } %>
	</ul>
	</div>
</form>

