<h3>Editing Image Collection</h3>

<h5>Images</h5>
<form name="papyrus-editor-images-view-overview" id="papyrus-editor-section-images-overview" action="#" method="post">
	<div id="papyrus-editor-images-droplist" class="droplist">
	<ul id="papyrus-editor-images-list">	
	<% for( var i = 0; i < images.length; i++ ) { %>
		<li class="papyrus-editor-can-alter-state-field sortable-list-item image-id_<%= images[ i ].id %>"><%= images[ i ].title %> : <a href="#" onclick="YAHOO.widget.papyrus.Editor.switchPerspectives( <%= images[ i ].id %>, 'image' );">Edit</a></li>
	<% } %>
	</ul>
	</div>
</form>

