<h3>Overview</h3><br />
<form name="papyrus-editor-page-view-overview" action="#" method="post">
		
		<p><label for="page[title]">Title</label><br />
		<input type="text" id="page[title]" name="page[title]" value="<%= title %>" class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="page[is_active]">Active</label><br />
		<input type="checkbox" id="page[is_active]" name="page[is_active]" value="1" <% if( is_active == true ) { %>checked="true"<% } %> class="papyrus-editor-can-alter-state-field" /></p>

</form>