<form name="papyrus-editor-page-view-overview" action="#" method="post">
	<fieldset>
		<legend>Overview</legend>
		
		<p><label for="page[title]">Title</label><br />
		<input type="text" id="page[title]" name="page[isActive]" value="<%= title %>" /></p>
		
		<p><label for="page[isActive]">Active</label><br />
		<input type="text" id="page[isActive]" name="page[isActive]" value="<%= isActive %>" /></p>
		
	</fieldset>
</form>