<h3>Editing Download Collection</h3>

<h5>Downloads</h5>
<form name="papyrus-editor-downloads-view-overview" id="papyrus-editor-section-downloads-overview" action="#" method="post">
	<div id="papyrus-editor-downloads-droplist" class="droplist">
	<ul id="papyrus-editor-downloads-list">	
	<% for( var i = 0; i < downloads.length; i++ ) { %>
		<li class="papyrus-editor-can-alter-state-field sortable-list-item download-id_<%= downloads[ i ].id %>"><%= downloads[ i ].title %> : <a href="#" onclick="YAHOO.widget.papyrus.Editor.switchPerspectives( <%= downloads[ i ].id %>, 'download' );">Edit</a></li>
	<% } %>
	</ul>
	</div>
</form>

