Tags

<select name="tags" multiple="true" style="width: 100%;">
	<option value="tag1">Example Tag 1</option>
	<option value="tag2">Example Tag 2</option>
	<option value="tag3">Example Tag 3</option>
	<option value="tag4">Example Tag 4</option>
	<option value="tag5">Example Tag 5</option>
	<option value="tag6">Example Tag 6</option>
	<option value="tag7">Example Tag 7</option>
	<option value="tag8">Example Tag 8</option>
</select>
