<h3>Editing Link</h3><br />
<form name="papyrus-editor-link-view-overview" action="#" method="post">
		
		<p><label for="link[title]">Title</label>&nbsp;&nbsp;&nbsp;<span id="link[title]_error" class="papyrus_editor_field_error_message">&nbsp;</span><br />
		<input type="text" id="link[title]" name="link[title]" value="<%= title %>" class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="link[url]">URL</label>&nbsp;&nbsp;&nbsp;<span id="link[url]_error" class="papyrus_editor_field_error_message">&nbsp;</span><br />
			<input type="text" name="link[url]" id="link[url]" value="<%= url %>" class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="link[is_active]">Active</label>&nbsp;&nbsp;&nbsp;<span id="link[is_active]_error" class="papyrus_editor_field_error_message">&nbsp;</span><br />
		<input type="checkbox" id="link[is_active]" name="link[is_active]" value="1" <% if( is_active == true ) { %>checked="true"<% } %> class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="link[is_internal]">Internal Link</label>&nbsp;&nbsp;&nbsp;<span id="link[is_internal]_error" class="papyrus_editor_field_error_message">&nbsp;</span><br />
		<input type="checkbox" id="link[is_internal]" name="link[is_internal]" value="1" <% if( is_internal == true ) { %>checked="true"<% } %> class="papyrus-editor-can-alter-state-field" /></p>

</form> 