/* main menu boxes */
.menu ul li a:hover { 
background:#7793EE;
color: #ffffff;
}
/* hover over the submenu un-ordered list with class menuleft */
.menu ul li a:hover ul.menuleft {
display:block; 
position:absolute; 
top:33px; 
left:0;
background:#fff;
margin-top:0;
marg\in-top:1px;
border: 0;
border-right: 1px solid #485faf;
border-left: 1px solid #485faf;
border-bottom: 1px solid #485faf;
/* margin must be set to offset the padding of the top-level heading links so that the drop downs line up with the bottom of the menu */
margin-top: 12px;
}
/* hover over the submenu un-ordered list with class menuright */
.menu ul li a:hover ul.menuright {
display:block; 
position:absolute; 
top:33px; 
right: -1px;
background:#fff;
margin-top:0;
marg\in-top:1px;
border: 0;
border-right: 1px solid #485faf;
border-left: 1px solid #485faf;
border-bottom: 1px solid #485faf;
/* margin must be set to offset the padding of the top-level heading links so that the drop downs line up with the bottom of the menu */
margin-top: 12px;
}
/* sub menu links on menu heading links hover */
.menu ul li a:hover ul li a {
border: 0;
display:block; 
background:#DBE3FF; 
color:#000; 
height:auto; 
line-height:1.5em; 
padding:5px 10px; 
width: 125px;
border-top: 1px solid #c2cae6;
text-align: left;
}
/* sub menu with child sub menu hover */
.menu ul li a:hover ul li a.drop {
background:#DBE3FF url(../../img/drop.gif) bottom right no-repeat;
}
.menu ul li a:hover ul li a ul.submenuleft {
visibility:hidden; 
position:absolute; 
height:0; 
width:0;
}
.menu ul li a:hover ul li a ul.submenuright {
visibility:hidden; 
position:absolute; 
height:0; 
width:0;
}
/* sub menu items hover */
.menu ul li a:hover ul li a:hover {
background:#BBC9FA; 
color:#000;
}
.menu ul li a:hover ul li a:hover ul.submenuright {
visibility: visible; 
position:absolute; 
top: -1px; 
color:#000;
left:145px;
border-right: 1px solid #485faf;
border-left: 1px solid #485faf;
border-bottom: 1px solid #485faf;
border-top: 1px solid #485faf;
/* margin must be set to offset the padding of the top-level heading links so that the drop downs line up with the bottom of the menu, but also so that the sub-sub-menus line up with their corresponding parent menu */
margin-top: 1px;
}
.menu ul li a:hover ul li a:hover ul.submenuleft {
visibility: visible; 
position:absolute; 
top: -1px; 
color:#000;
left:-147px;
border-right: 1px solid #485faf;
border-left: 1px solid #485faf;
border-bottom: 1px solid #485faf;
border-top: 1px solid #485faf;
/* margin must be set to offset the padding of the top-level heading links so that the drop downs line up with the bottom of the menu, but also so that the sub-sub-menus line up with their corresponding parent menu */
margin-top: 1px;
}
