 /* common styling */
.menu {
font-family: verdana, sans-serif; 
position:relative; 
margin: auto;
z-index: 1;
}
/* unordered list that encloses the entire menu structure */
.menu ul {
padding:0; 
margin:0;
list-style-type: none;
}
/* menu headings */
.menu ul li {
float:left;
position:relative;
}
/* menu headings links*/
.menu ul li a, .menu ul li a:visited {
display:block; 
text-decoration:none;
font-size: 11px;
color:#ffffff; 
height: 31px;
color:#fff; 
border-left: 1px solid #485faf;
background:#536BBE; 
padding-left:5px; 
padding-right: 5px;
padding-top: 7px;
padding-bottom: 7px; 
text-align: center;
width: 73px;
}
/* active menu headings links*/
.menu ul li a, .menu ul li a:active {
color: #ffffff;	
}
* html .menu ul li a, .menu ul li a:visited {
width:149px;
w\idth:71px;
}
/* un-ordered list that encloses the entire sub-menu structure */
.menu ul li ul.menuleft {
display: none;
}
.menu ul li ul.menuright {
display: none;
}
.menu table {
margin:-1px; 
border-collapse:collapse;
font-size:10px;
border: 0px;
}

/* specific to non IE browsers */

/* un-ordered list links that enclose the entire sub-menu structure on hover */
.menu ul li:hover a {
color:#fff; 
background:#7793EE;
}
.menu ul li:hover ul.menuleft {
display:block; 
position:absolute; 
top:36px;
margin-top:1px;
left: 0;
border-right: 1px solid #485faf;
border-left: 1px solid #485faf;
border-bottom: 1px solid #485faf;
/* margin must be set to offset the padding of the top-level heading links so that the drop downs line up with the bottom of the menu */
margin-top: 9px;
}
.menu ul li:hover ul.menuright {
display:block; 
position:absolute; 
top:36px;
margin-top:1px;
right: -1px;
border: 0;
border-right: 1px solid #485faf;
border-left: 1px solid #485faf;
border-bottom: 1px solid #485faf;
/* margin must be set to offset the padding of the top-level heading links so that the drop downs line up with the bottom of the menu */
margin-top: 9px;
}
/* un-ordered list that encloses the entire sub-sub-menu structure on menu heading hover*/
.menu ul li:hover ul li ul.submenuleft {
display: none;
}
/* un-ordered list that encloses the entire sub-sub-menu structure on menu heading hover*/
.menu ul li:hover ul li ul.submenuright {
display: none;
}
/* sub menu links on menu heading hover*/
.menu ul li:hover ul li a {
border: 0;
display:block; 
background:#DBE3FF; 
color:#000; 
height:auto; 
line-height:1.2em; 
padding:5px 10px;
width: 125px;
text-align: left;
border-top: 1px solid #c2cae6;
}
.menu ul li:hover ul li a.drop {
background:#dbe3ff url(../../img/drop.gif) bottom right no-repeat;
}
.menu ul li:hover ul li a:hover {
background:#BBC9FA; 
color:#000;
}
.menu ul li:hover ul li:hover ul.submenuright {
display:block; 
position:absolute; 
left: 145px;
top: -1px;
border-right: 1px solid #485faf;
border-left: 1px solid #485faf;
border-top: 1px solid #485faf;
border-bottom: 1px solid #485faf;
/* margin must be set to offset the padding of the top-level heading links so that the drop downs line up with the bottom of the menu, but also so that the sub-sub-menus line up with their corresponding parent menu */
margin-top: 0px;
}
.menu ul li:hover ul li:hover ul.submenuleft {
display:block; 
position:absolute; 
right: 145px;
top: -1px;
border-right: 1px solid #485faf;
border-left: 1px solid #485faf;
border-top: 1px solid #485faf;
border-bottom: 1px solid #485faf;
/* margin must be set to offset the padding of the top-level heading links so that the drop downs line up with the bottom of the menu, but also so that the sub-sub-menus line up with their corresponding parent menu */
margin-top: 0px;
}