<config>
	<!-- Boolean:  indicates whether or not to show the source code of components -->
	<revealCode>true</revealCode>
	<!-- Boolean: indicates whether or not to show the root path for the app -->
	<showRootPath>false</showRootPath>
	<!-- The title to show in the title bar of the browser -->
	<pagetitle>PDLNET CMS CFC Documetation</pagetitle>
	<!-- You can have as many constructorname blocks as you'd like -->
	<!-- any methods with a matching name will be displayed "specially"
		 to indicate that they represent a "constructor"
	-->
	<constructorname>init</constructorname>
	<!-- You can have as many root blocks as you like.
	Each of them represents a unique directory path.

	Paths starting with a '.' are assumed to be relative and are expanded
	using expandPath() all other paths are assumed to be absolute

	e.g.


	<root>
		<path>C:\sites\frameworks\dev\MachII</path>
		<prefix>MachII.framework</prefix>
	</root>


	-->

	<!-- This is the default root which indicates the current directory. It should probably be removed  -->

	<root>
		<path>c:\cfusionmx7\wwwroot\cms</path>
		<prefix>cms</prefix>
	</root>
</config>
