<h3>Editing Download</h3><br />
<form name="papyrus-editor-download-view-overview" action="#" method="post">
		
		<p><label for="download[title]">Title</label>&nbsp;&nbsp;&nbsp;<span id="download[title]_error" class="papyrus_editor_field_error_message">&nbsp;</span><br />
		<input type="text" id="download[title]" name="download[title]" value="<%= title %>" class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="download[uri]">File</label>&nbsp;&nbsp;&nbsp;<span id="download[uri]_error">&nbsp;</span><br />
			<input type="text" name="download[uri]" id="download[uri]" value="<%= uri %>" class="papyrus-editor-can-alter-state-field" disabled /><br /><sub>(Selecting a new file will replace the current file.)</sub><br /><input type="file" name="download[new_uri]" id="download[new_uri]" class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="download[is_active]">Active</label>&nbsp;&nbsp;&nbsp;<span id="download[is_active]_error">&nbsp;</span><br />
		<input type="checkbox" id="download[is_active]" name="download[is_active]" value="1" <% if( is_active == true ) { %>checked="true"<% } %> class="papyrus-editor-can-alter-state-field" /></p>
		
		<p><label for="download[is_internal]">Internal Link</label>&nbsp;&nbsp;&nbsp;<span id="download[is_internal]_error">&nbsp;</span><br />
		<input type="checkbox" id="download[is_internal]" name="download[is_internal]" value="1" <% if( is_internal == true ) { %>checked="true"<% } %> class="papyrus-editor-can-alter-state-field" /></p>

</form> 