#selectorOverlay {
	border: 2px dashed #fea320;
}

#selectorOverlayDivWindow {
	background: #fffbd5;
	opacity: 0.35;
	filter:alpha(opacity=35);
}

.papyrus_placebo {
	height: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #d2d2d2;
	text-align: center;
	line-height: 35px;
}

.papyrus_tooltip {
	background: #045ac4;
 	font-size: 10px;
 	font-weight: bold;
 	color: #fff;
 	border: 1px solid #d2d2d2;
 	padding: 5px;
	opacity: 0.85;
	filter: alpha(opacity=85);
}

img.papyrus_toolboxItem {
	vertical-align: middle;
	margin-top: 2px;
	margin-bottom: 2px;
}

a.papyrus_toolboxItem {
	text-decoration: underline;
	color: #36f;
	font-size: 11px;
}


/*.dlgCMSEditor {
	background-color: #dfdfdf;
}*/


.dlgCMSFormDiv {
	background-color:#fff;
	border:1px solid #333;
	height:323px;
	margin:3px 3px 2px 25px;
}

.dlgCMSFormNavigation {
	top: 0px;
	border-bottom:1px solid #ccc;
	height: 20px;
	width:100%;
	padding-top:5px;
	background-color:#efefef;
}

div#dlgCMSFormOverlayShell {
	position: relative;
	height: 296px;
}

td#dlgCMSFormDivHolderTD {
	padding: 0px;

}

.dlgCMSFormDivHolder {
	border:1px solid #333;
	height:331px;
	width: 447px;
	background-color:#cc6666;
	margin: 5px;
}


.dlgCMSFormDiv textarea, .dlgCMSFormDiv select, .dlgCMSFormDiv input {
	font-size:11px;
	color:#666;
	font-family:verdana;
}
.dlgCMSFormDiv label {
	font-weight:bold;
	padding-top:3px;
}
.dlgCMSForm {
	height:205px;
	margin:3px 3px 3px 3px;
}
.dlgCMSFormField {
	padding:3px 2px 3px 2px;
}

.dlgCMSFormButtons {
	position: absolute;
	bottom: 0px;
	border-top:1px solid #ccc;
	height: 20px;
	width:100%;
	padding-top:3px;
	background-color:#efefef;
}




div#dlgCMSTreeOverlayShell {
	position: relative;
	height: 100%;
	width: 100%;
}

	#dlgCMSTreeAddDiv {
		position: relative;
		top: 0px;
		left: 0px;
		height:280px;
		width: 110px;
		padding:2px;
		background-color:#FFFFCC;
		border:1px solid #333;
		margin:4px 3px 3px 3px;
	}
		div#PapyrusTreeDivContainerInfo {
			width: 280px;
			padding: 4px;
			border-top: 1px solid #333;
			border-bottom: 1px solid #333;
			border-left: 1px solid #333;
			border-right: 1px solid #333;
			margin-top: 4px;
			background: #ffffff;
		}
		div#PapyrusTreeDivScrollUpControl {
			width: 280px;
			padding: 4px;
			border-top: 1px solid #333;
			border-bottom: 1px solid #d2d2d2;
			border-left: 1px solid #333;
			border-right: 1px solid #333;
			margin-bottom: -4px;
			margin-top: 4px;
			background: #ffffff;
		}
		
		div#PapyrusTreeDivScrollUpControl img {
			display: block;
			margin: auto;
			width: 16px;
			vertical-align: middle;
		}
		
		div#PapyrusTreeDiv {
			background-color:#fff;
			border-left:1px solid #333;
			border-right:1px solid #333;
			margin:4px 3px 0px 0px;
		  overflow-y: hidden;
			overflow-x: hidden;
		  height: 210px;
			width: 280px;
			padding: 4px;
		}
		
		div#PapyrusTreeDivScrollDownControl {
			width: 280px;
			padding: 4px;
			border-top: 1px solid #d2d2d2;
			border-bottom: 1px solid #333;
			border-left: 1px solid #333;
			border-right: 1px solid #333;
			margin-top: 0px;
			margin-bottom: 0px;
			background: #ffffff;
		}
		
		div#PapyrusTreeDivScrollDownControl img {
			display: block;
			margin: auto;
			width: 16px;
			vertical-align: middle;
		}
	
	div#dlgCMSTreeButtons {
		position: absolute;
		bottom:0px;	
		background-color: #efefef;
		border-top: 1px solid #cccccc;
		margin: 0px;
		height: 20px;
		width: 100%;
	}

.dlgCMSTreeDivHolder {
	border:1px solid #333;
	width: 447px;
	height:331px;
	background-color:#99cc66;
	margin: 5px 0px 5px 5px;
}
.dlgCMSTreeDiv {
	position: relative;
	background-color:#cfcfcf;
	border:1px solid #333;
	height:323px;
	/*width: 100%;*/
	margin:3px 3px 2px 25px;
}
.dlgCMSTreeDivLoad {
	background-color:#fff;
	border:1px solid #333;
	height:323px;
	margin:3px 3px 2px 25px;
}
.dlgCMSTreeShell {
	display:none;
}
td#PapyrusTreeDivTD {
	width: 280px;
}

div#PapyrusTreeDivContainer {
	display: inline;
	position: absolute;
	right: 0px;
	top: 0px;
}




td#dlgCMSTreeAddDivTD {
	width: 110px;
}











td#dlgCMSHelpDivHolderTD {
	width: 934px;
}

.dlgCMSHelpDivHolder {
	border:1px solid #333;
	height:119px;
	width:919px;
	background-color:#6699ff;
	margin: 5px;
}
.dlgCMSHelpDiv {
	background-color:#fff;
	border:1px solid #333;
	height:111px;
	width:890px;
	margin:3px 3px 2px 25px;
}
.dlgCMSHelpDiv select {
	font-size:11px;
	color:#666;
	font-family:verdana;
}



.formfield {
	border: 1px solid #9F9F9F;	
}
.formfieldclear {
	border: 1px solid #ffffff;	
}


.dlgButton {
	font-weight:bold;
	margin:0px 3px 2px 3px;
}
.dlgButton a {
	text-decoration:none;
}
.dlgButton  img {
	vertical-align:text-top;
}


.overlayMask {
    z-index: 300;   
    opacity: 0.50;
    filter: alpha(opacity=50);
    background: #d2d2d2;
}


.dlgCMSEditorButtons {
	height:30px;
}

#dlgCloseButton {
	border: 1px solid #7d7d7d;
	color: #ffffff;
	font-weight: bold;
	background: #98C66A;
}

.dlgCMSTree2 {
	background-color:#fff;
	border:1px solid #333;
	margin:4px 3px 3px 3px;
  overflow: auto;
  height:180px;
}

div#dlgCMSTreeButtons2 {
		position: absolute;
		bottom: 0px;	
		background-color: #efefef;
		border-top: 1px solid #cccccc;
		margin: 0px;
		height: 20px;
		width: 100%;
	}

.noScrollBars {
	overflow: hidden;
}

a.dlgLinkDead:link {
	color: #666666;
	cursor: default;
}

a.dlgLinkDead:visited {
	color: #666666;
	cursor: default;
}

a.dlgLinkDead:hover {
	color: #666666;
	cursor: default;
}

a.dlgLinkDead:active {
	color: #666666;
	cursor: default;
}