td.node_placebo {
	border: 1px solid #e93f37;
	background: #fa8a70;
	border-spacing: 2px;	
	margin: 2px;
}

td.node_placebo_over { 
	border: 1px solid #e93f37;
	background: #ffdd3f;
	border-spacing: 2px;	
	margin: 2px;
}

td.node_placebo a {
	color: #ffffff;
}

td.node_placebo_over a {
	color: #ffffff;
}

/*.node_placebo a {
	color: #ffffff;
	margin: 3px;
}*/